{% extends 'base.html.twig' %}

{% block body %}
    <div id='booklist'>
        <h3>Liste der Bücher:</h3>
        <div>
            <table>
                <tr>
                    <td>Title</td>
                    <td>Price</td>
                    <td></td>
                </tr>
                {% for book in books %}
                    <tr>
                        <td>
                            <a href="{{ path('book_view', {'id': book.getId}) }}">{{ book.getTitle }}</a>
                        </td>
                        <td>
                            {{ book.getPrice }}
                        </td>
                        <td>
                            <a href="{{ path('book_edit', {'id': book.getId}) }}">edit</a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <hr>
        <div>
            <a href="{{ path('book_new') }}">Add a book!</a>
        </div>
        <hr>
        <div>
            <a href="{{ path('book_load_fixtures') }}">Load book fixtures!</a>
        </div>
        {% for flash_message in app.session.flashbag.get('info') %}
            <hr>
            <div>
                {{ flash_message }}
            </div>
        {% endfor %}
    </div>

{% endblock %}
